<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fuadmaska.myfeature">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Reminder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".AddReminder" />
        <activity android:name=".DetailRemainderActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClaimTrackIdNotFoundActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".InsuranceDetailActivity" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />

        <activity android:name=".PopUpLogout"></activity>
    </application>

</manifest>